* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #ffffff;
  --second-color: #0b8e69;
  --grey-one-color: #f0f1f5;
  --grey-two-color: #f0f1f5;
  --grey-text-color: #93969f;
}
.App {
  text-align: center;
  background-color: var(--grey-two-color);
}
